$font-stack-primary: Roboto, arial, san-serif;
$font-stack-secondary: Courier New, monospace;
$font-stack-paragraph: Arial, san-serif;

$primary-blue: #246F9A;
$tertiary-blue: #43AAE1;
$secondary-blue: #5DC9F5;

$default-gutter: 15px;