---
---

// Import dependencies.
@import
  "../_sass/variables",
  "../_sass/flexboxgrid.min",
  "../_sass/font-awesome.min",
  "../_sass/normalize.min"
;

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background: #f9f9f9;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    color: $primary-blue;
    font-size: 28px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    max-width: 960px;
    margin: 20px auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header img {
    width: 75px;
}

header .brand {
    display: inline-flex;
}

a.brand:hover {
    border: none;
}

header .title-container {
    text-align: left;
    margin-left: $default-gutter;
    padding-top: 5px;
}

header h1 {
    margin: 0;
    font-family: $font-stack-primary;
    font-size: 36px;
    line-height: 35px;
    color: $primary-blue;
    text-transform: uppercase;
}

header h2 {
    margin: 0;
    font-family: $font-stack-secondary;
    font-size: 20px;
    color: #666;
}

header .title-container {
    display: inline-block;
}

nav {
    margin-top: 20px;
    font-family: $font-stack-secondary;
    font-size: 18px;
}

nav li {
    list-style: none;
    display: inline-block;
}

a {
    color: #666666;
    text-decoration: none;

    transition: border .1s ease-in-out;
    -moz-transition: border .1s ease-in-out;
    -webkit-transition: border .1s ease-in-out;
}

a:hover {
    border-bottom: 1px solid #666666;
}

nav a {
    margin-right: $default-gutter;
    padding-bottom: 2px;
}

nav a:last-child {
    margin-right: 0;
}

nav a.active {
    border-bottom: 1px solid $primary-blue;
}

.white-tile {
    background-color: white;
    border: 1px solid $secondary-blue;
    padding: $default-gutter;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    color: #666666;
    
    h3 {
        margin: 0 0 5px;
        color: $primary-blue;
        font-family: $font-stack-primary;
        font-size: 32px;
    }
    
    img {
        max-width: 100%;
        margin: 10px 0;
    }

    a.btn {
        padding: 10px 15px;
        margin: 10px;
        background: $tertiary-blue;
        color: white;
        display: inline-block;
        border: 1px solid darken($tertiary-blue, 10%);
        box-shadow: 0 0 6px rgba(0,0,0,0.15);

        transition: box-shadow .1s ease-in-out;
        -moz-transition: box-shadow .1s ease-in-out;
        -webkit-transition: box-shadow .1s ease-in-out;

        &:hover {
            background: darken($tertiary-blue, 5%);
            border: 1px solid darken($tertiary-blue, 10%);
            box-shadow: 0 0 10px rgba(0,0,0,0.30);
        }

        i {
            margin-right: 8px;
        }
    }
}

.skill-tag {
    display: inline-block;
    padding: 1px 5px;
    color: #222;
    border: 1px solid #ddd;
    margin: 2px 4px 2px 0px;
}

a.img-link:hover {
    border-bottom: inherit;
}

.portfolio-tile-wrapper {
    margin-bottom: $default-gutter;
    display: flex;
}

.portfolio-tile {
    padding: $default-gutter;
    background: white;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    color: #666666;
    border: 1px solid $secondary-blue;
    width: 100%;

    transition: box-shadow .1s ease-in-out;
    -moz-transition: box-shadow .1s ease-in-out;
    -webkit-transition: box-shadow .1s ease-in-out;

    &:hover {
        background: white;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.30);
        border: 1px solid $secondary-blue;
    }
    
    h3 {
        font-family: $font-stack-primary;
        font-size: 24px;
        color: $primary-blue;
        margin: 0;
    }
    
    p {
        font-family: $font-stack-paragraph;
        font-size: 16px;
        margin: 10px 0;
    }

    .skills {
        font-family: $font-stack-secondary;
        font-size: 16px;
    }
}

.portfolio-title-bar {
    padding: 20px 15px;
    background: $primary-blue;
    border-left: 1px solid $secondary-blue;
    border-right: 1px solid $secondary-blue;
    border-top: 1px solid $secondary-blue;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    
    h2 {
        font-family: $font-stack-primary;
        text-align: center;
        color: white;
        margin: 10px;
    }
    
    .skills {
        font-family: $font-stack-secondary;
        font-size: 16px;
        text-align: center;
    }

    .skill-tag {
        border: 1px solid #7FB9DC;
        color: #7FB9DC;
        display: inline-block;
        text-align: center;
        font-family: $font-stack-secondary;
    }
}

.white-tile .portfolio-content {
    h3 {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }

    label {
        font-weight: bold;
        display: block;
    }
}

.contact-tile {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    font-family: $font-stack-secondary;
    font-size: 18px;
}

.contact-tile h3 {
    margin: 0;
    margin-bottom: 5px;
    font-family: $font-stack-primary;
    color: $primary-blue;
    font-size: 18px;
}

.contact-social {
    margin-top: 20px;
}

.contact-social i {
    &.fa-twitter {
        color: #43AAE1;
        margin-right: 5px;
    }

    &.fa-github {
        color: #000000;
        margin-right: 5px;
    }

    &.fa-linkedin {
        color: #0077b5;
        margin-right: 5px;
    }
}

.contact-social a {
    margin-left: $default-gutter;
}

footer {
    text-align: center;
    font-size: 14px;
    font-family: $font-stack-secondary;
    color: #666666;
    margin-top: $default-gutter;

    .author {
        font-family: $font-stack-primary;
        color: $primary-blue;
    }
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    color: inherit;
}

.wrapper {
    margin: 0 10px;
}

footer i {
    margin-right: 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.text-center {
    text-align: center;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
